body {margin:0; padding:0;}
.cms-toolbar {
    position:fixed;
    top:0;
    left:0;
    right:0;
    margin:0;
    padding:0;
    z-index:10000;
    width:100%;
    background-color:#222d32;
    height:36px;
}
@media screen and (max-width: 1000px){
    .cms-toolbar {
        width: 100%;
        height: auto;
        position: fixed;
    }
    .cms-toolbar a {
        float: left;
    }
}
@media screen and (max-width: 604px) {
    .cms-toolbar a {
        text-align: center;
        float: none;
    }
}
.cms-toolbar--bottom {
    top: auto;
    bottom: 0;
}
.cms-toolbar ul{
    margin:0;
    padding:0
}
.cms-toolbar ul li{
    list-style:none
}
.cms-toolbar ul li:hover{
    background-color:#454545
}
.cms-toolbar ul li a{
    color:#FFF;
    text-decoration:none
}
.cms-toolbar ul li a span{
    margin-left:5px;
    margin-right:5px
}
.cms-toolbar>ul>li{
    display:inline-block;
    margin-right:-2px;
    height:45px
}
.cms-toolbar>ul>li:last-of-type{
    float:right
}
.cms-toolbar>ul>li a{
    display:block;
    padding:15px
}
.cms-toolbar-dropdown{
    position:relative;
    display:inline-block
}
.cms-toolbar-dropdown ul{
    display:none;
    position:absolute;
    top:45px;
    left:0;
    background-color:#222d32;
    min-width:160px;
    box-shadow:0 8px 16px 0 rgba(0,0,0,.2);
    z-index:1
}
.cms-toolbar-dropdown ul li a{
    display:block;
    padding:10px
}
.cms-toolbar-dropdown:hover ul{
    display:block
}

.default-navbar, .logo {
    display: none !important;
}
